
body{
	margin: 0;
	padding: 0;
	
	font-family: 'Bahnschrift Light';
	background-color: blue;
}

#main{
	height:100vh;
	width: 100%;
	background-color: white;
	
}

/*-------------------------------------------------------------------*/

#tab{ 				/*zgorni tab*/
	width:100%;
	height:75px;
	position: grid;		/*das na fixed ce ces imet skojs vidno*/
	background-color: #e3e3e3;
}


.inTab,.selection-class{ /*vsi classi v tabelatorju in Selection za izbrat*/
	float:left;		/*postav tab dive en zravn druzga*/
	height: 100%;
	width: 60%;
	text-align: center;   /*da .selection-pick na center*/
	
	transition: 0.4s;
	overflow: hidden;
}
.logoNike-class,.search-class{		/*stranska dva v tabu-zgori*/
	width: 20%;	
	float: left;
	display: grid;
	place-items: center;
	
	transition: 0.4s;
}

.selection-pick{					/*Ustimu kok moramo imet paddinga*/
	padding: 27px 15px 27px 15px;		
	display: inline-block;			/*da dive v isto vrsto en-zravn-druzga*/
}


.selection-pick:hover{
	height:100%;  /*Cene borderBox ne dela*/
	cursor: pointer;
	border-bottom: 3px solid black;
	box-sizing: border-box;   /*da mi border vrze notr ne vn*/
}

#searchImage{
	height: 30px;
	width: 30px;
}

.search-class input{
	height: 30px;
	/*background-image: url('../icons/search_min.png');
	background-position: 5px 5px;
	background-repeat: no-repeat;*/
	padding-left: 35px;
	border-radius: 15px;
	outline: none; 
	border:none;
	box-sizing: border-box;
	width:175px;
	
	transition: 0.4s;
}

.search-class input[type=text]:focus, input:hover{
	background-color: lightgray;
}

.search-img{	
	width: 30px;
	height: 30px;
	background-image: url('../icons/search_min.png');
	background-color: transparent;
	position: absolute;							
	margin-right: 145px; /*zamik slike da je lep*/

	border: none;
	background-repeat: no-repeat;
	background-position: 3px 3px;
	border-radius: 15px;
	
	transition: 0.4s;
}
.search-img:hover{
	background-color:lightgray;
	cursor: pointer;
}

.searchBarOpen{
	width: 100%;
	transition:  0.4s;
}
.searchBarOpen input{
	width: 500px;
	transition:  0.4s;
}
.search-img-repair{
	transition: 0.4s;
	margin-right: 470px;	
}

.close-LogoNike-selection{
	transition:  0.4s;
	width: 0px;
	visibility: hidden;
	overflow: hidden;
}

/*Do tuki je vse za tab */
/*-----------------------------------------------------------------------------*/

#source{
	
	width: 100%;
	
}

.scroll-image{
	
}

/*scroll image dol*/
/*------------------------------------------------------------------------------*/
	.carousel-cell{
		
		width: 33%;
		height: 410px;
		margin-left: 0px;
		
		display: block;
		text-align: center;
		content: counter(gallery-cell);
		line-height: 200px;
		position: relative;
		
	}
	
	
	img.shoes{
		box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
		border-radius: 8px;
		position: relative;
	}
		
	img.pngPicture{
		position: absolute;
		
		right: 163px;
		top: 170px;
	}
	
	.carousel-cell.is-selected {
	
	}
	

/*--------------------------------------------------------------*/
.description{
	padding-top: 40px;
	width: 100%;
	height: 450px;

}


.spremeniBarvoBelo {
	background-color: #eaeaea;
}
.spremeniBarvoSvetloModro{
	background-color: #1693d6;
}

.spremeniBarvoTemnoModro{
	background-color: #365486;
}

@media only screen and (max-width: 2405px){
	img.pngPicture{
		right: 243px;
	}
}
@media only screen and (max-width: 2135px){
	img.pngPicture{
		right: 197px;
	}
}

@media only screen and (max-width: 1925px){
	img.pngPicture{
		right: 163px;
	}
}

@media only screen and (max-width: 1750px){
	img.pngPicture{
		right: 134px;
	}
}

@media only screen and (max-width: 1550px){
	img.pngPicture{
		right: 100px;
	}
}

@media only screen and (max-width: 1500px){
	.carousel-cell{	
		width: 100%;	
	}
	img.pngPicture{
		
		left: 627px;
	}
}

@media only screen and (max-width: 1100px){
	img.pngPicture{
		left: 530px;
	}
}
@media only screen and (max-width: 970px){
	img.pngPicture{
		left: 463px;
	}
}

@media only screen and (max-width: 770px){
	img.pngPicture{
		left: 368px;
	}
}

